---
import '@/styles/global.css';
import AppFooter from "@/components/AppFooter.astro";
import AppHeader from "@/components/AppHeader.astro";

import { getLangFromUrl } from '@/i18n/utils';
const lang = getLangFromUrl(Astro.url);

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Aplikasi dengan fitur pencatatan pendapatan dan pengeluaran, memonitor profitabilitas, serta melakukan perencanaan keuangan untuk usaha pertanian.">
		<meta name="keywords" content="Pertanian, Milenial, Keuangan, Manajemen, Monitoring">

		<title>{title}</title>

		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Aplikasi dengan fitur pencatatan pendapatan dan pengeluaran, memonitor profitabilitas, serta melakukan perencanaan keuangan untuk usaha pertanian." />
		<meta property="og:url" content="https://finatani-website.web.app/" />
		<meta property="og:image" content="https://raw.githubusercontent.com/finatani/website/main/public/finatani_homepage.webp" />
		<meta property="og:image:alt" content={title} />
		<meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="250" />
	
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@eko_sutrisno96" />
		<meta name="twitter:creator" content="@eko_sutrisno96" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content="Aplikasi dengan fitur pencatatan pendapatan dan pengeluaran, memonitor profitabilitas, serta melakukan perencanaan keuangan untuk usaha pertanian." />
		<meta name="twitter:image" content="https://raw.githubusercontent.com/finatani/website/main/public/finatani_homepage.webp" />
		<meta name="twitter:image:alt" content={title} />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

		<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-DFFHYJ0HBX"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-DFFHYJ0HBX");
		</script>

		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	</head>
	<body class="scroll-smooth bg-white dark:bg-gray-900 bg-[url('/body_background.webp')] bg-cover bg-no-repeat overflow-x-hidden">
		<AppHeader/>
		<slot />
		<AppFooter/>

		<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script is:inline>
			AOS.init()
		</script>
	</body>
</html>